@charset "utf-8";
@import "./variable";/*引入配置*/

@mixin bg_color($color){/*通过该函数设置主题颜色，后期方便统一管理；*/
  background-color:$color;
  [data-theme="theme1"] & {
    background-color:$background-color-theme1;
  }
  [data-theme="theme2"] & {
    background-color:$background-color-theme2;
  }
  [data-theme="theme3"] & {
    background-color:$background-color-theme3;
  }
}
@mixin font_color($color) {
  color: $color;
  [data-theme="theme1"] & {
    color:$background-color-theme1;
  }
  [data-theme="theme2"] & {
    color:$background-color-theme2;
  }
  [data-theme="theme3"] & {
   color:$background-color-theme3;
  }
}

